



<div class="slider slider-refererenzen">
	<f:for each="{settings.slider}" as="item" iteration="iteration">
			<f:render partial="Contentelements/Slider/DetailView" arguments="{item: item.sliderConfiguration}"/>

	</f:for>
</div>


<div class="sliderWrap">
	<div class="slider slider-refererenzen-navigation">
	<f:for each="{settings.slider}" as="item" iteration="iteration">

			<f:render partial="Contentelements/Slider/SliderItem" arguments="{item: item.sliderConfiguration}"/>

	</f:for>
	</div>

</div>

	<f:comment>
		<![CDATA[
		<!--





<div class="slider slider-refererenzen">


  <div>
		<div class="row">
			<div class="col-md-8">
				<img class="img-fluid img-border img-left" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="">
			</div>
			<div class="col-md-4">                         <h3>Technologieatlas Eifel /  TechnologieAtlas TeTRRA</h3>
				<p>Aufbau eines regionalen Unternehmensverzeichnisses. Das Unternehmerverzeichnis wird in zwei Webseiten für verschiedene, aber sich überschneidende Regionen verwendet.
				</p>                                                   <h3>Details</h3>
				<ul>
					<li>Aufbau einer mehrsprachigen Inhaltsverwaltung mit Typo3 für beide Webauftritte
					</li>
					<li>Programmierung eines Unternehmenverzeichnisses, das in beiden Auftritten verwendet wird </li>
					<li>Anmeldefunktion für Unternehmen  </li>
					<li>Profiladminstration für Unternehmen  </li>
					<li>Funktionen für die Suche nach Unternehmen  </li>
					<li>Stellenbörse</li>
					<li>Zuordnung der Firmen zur Region </li>
				</ul>
			</div>
		</div>
	</div>
	 <div>







		<div class="row">
			<div class="col-md-8">
				<img class="img-fluid img-border img-left" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="">
			</div>
			<div class="col-md-4">                        <h3>FOGS GmBH</h3>
				<p>Aufbau einer Datenbank für wissenschaftliche Mitarbeiter, Projekte und Veröffentlichungen. Erstellung einer TYPO3-Webseite, zur Darstellung der Inhalte der Datenbank im Web.
				</p>                        <h3>Details</h3>
				<ul>
					<li>Erstellung der Datenbank aus einer existierenden Sammlung von Exceltabellen.  </li>
					<li>Backendmodul zum Bearbeiten der Datenbank  </li>
					<li>Erstellung einer TYPO3- Webseite zur Darstellung der Datenbankinhalte sowie redaktioneller Inhalte  </li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
			<div class="col-md-8">
				<img class="img-fluid img-border img-left" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="">
			</div>
			<div class="col-md-4">                        <h3>Vis A Vis Design</h3>
				<p>Erstellung Webseite mit Referenzenverwaltung
				</p>                        <h3>Project Details</h3>
				<ul>
					<li>Backendmudul zum Verwalten der Referenzen</li>
					</li>
					<li>Darstellung der Referenzen in Übersichtsseiten und Detailseiten.
					</li>
				</ul>
			</div>
		</div>
	</div>
  <div>
		<div class="row">
			<div class="col-md-8">
				<img class="img-fluid img-border img-left" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="">
			</div>
			<div class="col-md-4">                        <h3>Publizistik Projekte</h3>
				<p>
					Erstellung der mehrsprachigen Firmenwebseite.
				</p>
				<h3>Details</h3>
				<ul>
					<li>Erstellung Webseite/li>
					<li>Aufbau eines Kundenbereichs
					</li>
					<li>Demonstration verschiedener Tools zur Leadgenerierung
					</li>
				</ul>
			</div>
		</div>
	</div>
  <div>
		<div class="row">
			<div class="col-md-8">
				<img class="img-fluid img-border img-left" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="">
			</div>
			<div class="col-md-4">                        <h3>Non Profit Projekt: Förderverein Freunde von Burkina Faso</h3>
				<p>Webseite für ein Grundschule und weitere Projekte in Burkina Faso
				</p>                        <h3>Project Details</h3>
				<ul>
					<li>Modul zur Präsentation des Vorstands
					</li>
					<li>Integration der Spendenplattform betterplaces.org
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>



<div class="sliderWrap">
	<div class="slider slider-refererenzen-navigation">
		<div>
			<img class="img-fluid img-border img-left" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="" />
		</div>
		<div >
			<img class="img-fluid portfolio-item" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="" />
		</div>
		<div>
			<img class="img-fluid portfolio-item" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="" />
		</div>
		<div >
			<img class="img-fluid portfolio-item" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="">
		</div>
		<div >
			<img class="img-fluid portfolio-item" src="{settings.slider.5ba3d3e89909b313072849.sliderConfiguration.image}" alt="">
		</div>
	</div>
</div>



<div class="sliderWrap">
	<div class="slider slider-refererenzen-navigation">
		<div>
			<img class="img-fluid img-border img-left" src="/fileadmin/Slider/Referenzenslider/ffvBF.jpg" alt="" />
		</div>
		<div>
			<img class="img-fluid img-border img-left" src="/fileadmin/Slider/Referenzenslider/technologiealtals-750x500.jpg" alt="" />
		</div>
		<div>
			<img class="img-fluid img-border img-left" src="/fileadmin/Slider/Referenzenslider/fogs_750x500.jpg" alt="" />
		</div>
		<div>
			<img class="img-fluid img-border img-left" src="/fileadmin/Slider/Referenzenslider/visavisdesign-750x500.jpg" alt="" />
		</div>
		<div>
			<img class="img-fluid img-border img-left" src="/fileadmin/Slider/Referenzenslider/pp-750x500.jpg" alt="" />
		</div>
	</div>
</div>








		  -->
		]]>
	</f:comment>

